name: End-to-end tests
on: push

jobs:
  cypress-run:
    runs-on: ubuntu-22.04
    environment: dev
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configurar variáveis de ambiente
        run: |
          echo "CONFIGURANDO VARIÁVEIS DE AMBIENTE"
          envFileName=".env.dev"
          echo "BASE_URL=${{ vars.BASE_URL_REPOSITORY_VAR }}" >> $envFileName
          echo "USER=${{ vars.ENV_REPO_USER }}" >> $envFileName
          echo "PASSWORD=${{ vars.ENV_REPO_PASSWORD }}" >> $envFileName
          
      - name: Verificar .env.dev
        run: |
          cat .env.dev

      - name: Print BASE_URL  
        run:  |
          echo "BASE_URL (definido como variável de ambiente): ${{ vars.BASE_URL_REPOSITORY_VAR }}"
          echo "USER (definido como variável de ambiente): ${{ vars.ENV_REPO_USER }}"
          echo "PASSWORD (definido como variável de ambiente): ${{ vars.ENV_REPO_PASSWORD }}"

      - name: Debug Environment Variables
        run: |
          printenv

      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          config-file: config-dev.js
        
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: cypress-reports
          path: cypress/reports
          if-no-files-found: ignore
