name: End-to-end tests
on: push

jobs:
  cypress-run:
    runs-on: ubuntu-22.04
    environment: dev
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configurar variáveis de ambiente
        run: |
         echo "CONFIGURANDO VÁRIAVEIS DE AMBIENTE"

      - name: Print BASE_URL  
        run:  |
          BASE_URL="${{ env.BASE_URL_VAR }}"
          echo "${{env.BASE_URL}}"
          echo "${{env.BASE_URL_VAR}}"
          echo "${{env.BASE_URL_TESTE}}"
          echo "${{env.TESTE.BASE_URL_TESTE}}"
          echo "BASE_URL_VAR (definido como variável de ambiente): ${{ vars.BASE_URL_REPOSITORY_VAR }}"
          echo "Nome (definido como variável de ambiente): ${{ vars.nome }}"

      - name: Cypress run
        uses: cypress-io/github-action@v6
        env: 
          baseUrl: ${{ vars.BASE_URL_REPOSITORY_VAR }}

      - name: Teste 
        run: |
          echo "Nome (definido como variável de ambiente): ${{ vars.nome }}"
        
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: cypress-reports
          path: cypress/reports
          if-no-files-found: ignore
