name: End-to-end tests
on: push

env:
  BASE_URL: ${{secrets.BASE_URL}}

jobs:
  cypress-run:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Print BASE_URL  
        run: echo "${BASE_URL} -->"

      - name: Cypress run
        uses: cypress-io/github-action@v6          
        
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: cypress-reports
          path: cypress/reports
          if-no-files-found: ignore
