name: End-to-end tests
on: push

jobs:
  cypress-run:
    runs-on: ubuntu-22.04
    environment: TESTE

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configurar variáveis de ambiente
        run: |
         echo "CONFIGURANDO VÁRIAVEIS DE AMBIENTE"
        env: 
         BASE_URL: ${{ secrets.BASE_URL }}

      - name: Print BASE_URL  
        run:  |
          BASE_URL="${{ env.BASE_URL_VAR }}"
          echo "${{env.BASE_URL}}"
          echo "${{env.BASE_URL_VAR}}"
          echo "${{env.BASE_URL_TESTE}}"
          echo "${{env.TESTE.BASE_URL_TESTE}}"
          echo "BASE_URL: $BASE_URL"

      - name: Cypress run
        uses: cypress-io/github-action@v6          
        
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: cypress-reports
          path: cypress/reports
          if-no-files-found: ignore
