name: End-to-end tests
on: push

##env:
##  BASE_URL: ${{ env.BASE_URL_VAR }}

jobs:
  cypress-run:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Print BASE_URL  
        run:  |
          BASE_URL="${{ env.BASE_URL_VAR }}"
          echo "${{env.BASE_URL}}"
          echo "${{env.BASE_URL_VAR}}"
          echo "${{env.BASE_URL_TESTE}}"
          echo "${{env..TESTE.BASE_URL_TESTE}}"
          echo "${{TESTE.BASE_URL_TESTE}}"

      - name: Cypress run
        uses: cypress-io/github-action@v6          
        
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: cypress-reports
          path: cypress/reports
          if-no-files-found: ignore
