name: End-to-end tests
on: push

jobs:
  cypress-run:
    runs-on: ubuntu-22.04
    environment: dev
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configurar variáveis de ambiente
        run: |
         echo "CONFIGURANDO VÁRIAVEIS DE AMBIENTE"

         steps:
          - bash: |
              envFileName=".env.dev"
              
              echo "BASE_URL=${{ vars.BASE_URL_REPOSITORY_VAR }}" >> $envFileName
          #   echo "BASE_URL_API_ACCOUNT=$(BASE_URL_API_ACCOUNT)" >> $envFileName
            displayName: 'Create the .env file'

      - name: Print BASE_URL  
        run:  |
          echo "${{env.BASE_URL}}"
          echo "${{env.BASE_URL_VAR}}"
          echo "${{env.BASE_URL_TESTE}}"
          echo "BASE_URL_VAR (definido como variável de ambiente): ${{ vars.BASE_URL_REPOSITORY_VAR }}"
          echo "Nome (definido como variável de ambiente): ${{ vars.nome }}"

      - name: Debug Environment Variables
        run: |
          printenv
        env:
          BASE_URL: ${{ vars.BASE_URL_REPOSITORY_VAR }}

      - name: Cypress run
        uses: cypress-io/github-action@v6
        env:
          baseUrl: ${{ vars.BASE_URL_REPOSITORY_VAR }}
        
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: cypress-reports
          path: cypress/reports
          if-no-files-found: ignore
